# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
src/Biruwon/DashboardBundle/Resources/config/twitter.conf.yml

# Backup files
*.php~

# Deploy file
!/bin/deploy.sh
