{% extends '@Dashboard/layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <style type="text/css">
    	.user-profile {
    		width: 72px;
    	}
    </style>

{% endblock %}

{% block wrapper %}

	<div class="user-profile">
		<p class="text-center">
			<strong>{{ user.username }}</strong>
		</p>

		{% if user.profile.image is not null %}
			<img src="{{ user.profile.image.webPath }}" width="60px" height="70px"/>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}